
.btn{
    width: 106px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;


}
.btn:hover {
    border: 1px solid var(--Grey);
}