.main{
  max-width: 1306px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  .filter{
    min-width:242px;
    background-color: antiquewhite;
    padding: 64px 14px 0 4px;
    position: fixed;
    height: 100%;
    .minValue{
      width:112px ;
      height: 42px;
      border: 1px solid #DBDBDB;
      padding-left: 12px;

    }
    .maxValue{
      width:112px ;
      height: 42px;
      border: 1px solid #DBDBDB;
      padding-left: 12px;
      border-left: none;
    }
    .checkBox{
      display: flex;
      .checkBoxOff{
        width: 18px;
        height: 18px;
        border: 1px solid #A7A7A7;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .checkBoxOn{
        width: 18px;
        height: 18px;
        display: flex;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }



  }
  .content{
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    background-color: pink;
    padding-left: 266px;
    padding-top: 64px;
    padding-bottom: 64px;
    .card{
      width:242px;
      height: 401px;
      background: #FFFFFF;
      border: 1px solid #E6E6E6;
      border-radius: 4px;
      .image{
        width: 242px;
        height: 242px;
        border-radius: 4px 4px 0px 0px;
      }

    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance:textfield;
  }
}
