@import '../../styles/mixins.scss';

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 266px;
  padding-top: 64px;
  padding-bottom: 64px;

  .card {
    width: 242px;
    height: 401px;
    background: #FFFFFF;
    .image {
      width: 242px;
      height: 242px;
      border-radius: 4px 4px 0 0;
      border: none;
      margin-bottom: -4px;
    }



  }
}