@import '../../styles/mixins.scss';

.main {
  width: 224px;
  height: 42px;
  @include Border_2;
  border-radius: 4px;

  .minValue {
    @include InputBoxStyle;
    @include Headline4D;
    border-radius: 4px 0 0 4px;
  }

  .minValue:focus {
    outline: none;
  }

  .maxValue {
    @include InputBoxStyle;
    @include Border_2_L;
    @include Headline4D;
    border-radius: 0 4px 4px 0;
  }

  .maxValue:focus {
    outline: none;
  }

}

.main:hover {
  @include Border_1;
}